<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513260275185-4hn1s73ec4iu22d8qgicqkdgd3nd1brd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513260275185-4hn1s73ec4iu22d8qgicqkdgd3nd1brd</string>
	<key>API_KEY</key>
	<string>AIzaSyClZylp27AQC5er5zGJFS0wsZ2KIEUQyPM</string>
	<key>GCM_SENDER_ID</key>
	<string>513260275185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twitterClone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>twitter-clone-a0bfa</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-clone-a0bfa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513260275185:ios:9bc4f89c53b163942cf050</string>
</dict>
</plist>